<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://openscada.org/UI/Chart"
            class="org.openscada.ui.chart.model.ChartModel.ChartPackage"
            genModel="model/Chart.genmodel"/>
   </extension>

</plugin>
